@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: url('/background.jpg') no-repeat center center fixed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url('/background.jpg') no-repeat center center fixed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-size: cover;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  pointer-events: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.drop-green {
  color: #68af94;
}

.drop-purple {
  background-color: #492a5b;
}

.hover\:drop-purple:hover {
  background-color: #563a7f;
}

.hover\:drop-green:hover {
  background-color: #384a3d;
}

.hover\:drop-green-text:hover {
  color: rgb(191, 204, 194);
}

.divide-drop-purple>* {
  border-color: #393b39;
}