@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: url('/image.png') no-repeat center center fixed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url('/image.png') no-repeat center center fixed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-size: cover;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  pointer-events: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.drop-green {
  color: #68af94;
}